<!-- accounts/templates/signup.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
</head>
<body>
    <div class="container">
        <h1>Cadastro</h1>
        <div class="form-content">
            <img src="{% static 'cadas.jpg' %}" alt="Imagem de exemplo">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Cadastrar</button>
            </form>
        </div>
        <div class="form-footer">
            <p>Já tem uma conta? <a href="{% url 'login' %}">Faça login aqui</a></p>
        </div>
    </div>
</body>
</html>
